/* global */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__list-item:hover {
  color: orange;
}

.header__button {
  border: none;
  background: black;
  color: white;
  padding: 8px 16px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.header__button:hover {
  background: gray;
  color: black;
}

.header__mobile-button {
  display: none;
}

@media (max-width: 750px) {
  .header__button {
    display: none;
  }

  .nav {
    display: none;
  }

  .header__mobile-button {
    display: inherit;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
  }

  .header__mobile-button:hover {
    color: orange;
  }
}

/* main */

/* stories  */

.main__storie {
  display: flex;
}

.main__storie-article-wrapper {
  display: flex;
  flex: 1 500px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: black;
  color: white;
}

.main__storie-img-wrapper {
  flex: 2 900px;
}

.main__storie-img {
  width: 100%;
  height: 100%;
}

.main__storie-article-heading {
  font-size: 2.2rem;
  letter-spacing: 3px;
  padding-right: 30px;
}

.main__storie-article-paragraph {
  margin-top: 50px;
}

.main__storie-article-arrow {
  margin-left: 20px;
}

.main__storie-article-wrapper--background {
  background: none;
  color: black;
}

.main__storie-img-wrapper--order {
  order: -1;
}

@media (max-width: 750px) {
  .main__storie {
    flex-wrap: wrap;
  }

  .main__storie-img-wrapper {
    order: -1;
  }

  .main__storie-article-heading {
    font-size: 1.8rem;
  }
}

/* album */

.main-album__container {
  display: flex;
}

.main__album {
  display: flex;
  align-items: flex-end;
  color: white;
  flex: 1;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), transparent),
    url(./images/read-story1.jpg) no-repeat center;
  background-size: cover;
  min-height: 400px;
}

.main__album-article-paragraph {
  white-space: nowrap;
  cursor: pointer;
}

.main__album-article-paragraph:hover {
  text-decoration: underline;
}

.main__album-article-arrow {
  margin-left: 50px;
}

.main__album--background2 {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), transparent),
    url(./images/read-story2.jpg) no-repeat center;
  background-size: cover;
}

.main__album--background3 {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), transparent),
    url(./images/read-story3.jpg) no-repeat center;
  background-size: cover;
}

.main__album--background4 {
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), transparent),
    url(./images/read-story4.jpg) no-repeat center;
  background-size: cover;
}

.main__album-article {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 750px) {
  .main-album__container {
    flex-wrap: wrap;
  }
  .main__album {
    flex: 1 500px;
  }

  .main__album-article {
    font-size: 1.5rem;
  }
}

/* feature */
.main-feature__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
}

.main__feature {
  text-align: center;
  margin: 0 30px;
}

.main__feature-img {
  width: 70px;
  height: 70px;
}

.main__feature-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
}

.main__feature-paragraph--highlited {
  font-weight: 900;
}

@media (max-width: 750px) {
  .main-feature__container {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  background: black;
  color: white;
}

.footer__nav-item {
  padding-bottom: 20px;
  cursor: pointer;
}

.footer__nav-item:hover {
  padding-bottom: 20px;
  color: gray;
}

.footer__right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.footer__right-paragraph {
  margin: 0;
}

.footer__right-arrow {
  margin-left: 30px;
}

.footer__right-paragraph--underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }

  .footer__nav-list {
    margin: 30px 0;
  }

  .footer__right-wrapper {
    max-height: 50px;
  }
}
